@import '../colors.css';
@import './properties.css';

.sidebar,
.sidebar * {
  border-sizing: border-box;
}

.sidebar {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: var(--sidebar-width);
  display: block;
  background-color: var(--sidebar-background-color);
}

.header {
  display: flex;
  padding: var(--sidebar-header-padding);
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--sidebar-header-border-bottom);
}

.menu {
  padding: var(--sidebar-menu-padding);
  color: var(--sidebar-menu-color);
  border: var(--sidebar-menu-border);
  background: var(--sidebar-menu-background);
  cursor: pointer;

  svg {
    width: var(--sidebar-menu-icon-width);
    height: var(--sidebar-menu-icon-height);
  }
}

.section {
  overflow: auto;
  height: calc(100vh - 56px);
}

.switchContainer {
  padding-top: var(--sidebar-switch-container-padding-top);
  padding-bottom: var(--sidebar-switch-container-padding-bottom);
  display: flex;
  justify-content: center;
}

.items {
  position: relative;
}

.items ul {
  padding: var(--sidebar-items-list-padding);
}

.item {
  font-size: var(--sidebar-item-font-size);
  list-style: none;
  color: var(--sidebar-item-color);
  cursor: pointer;
  border: var(--sidebar-item-border);
}

.item svg {
  margin-right: var(--sidebar-item-icon-margin-right);
}

.item:hover {
  color: var(--sidebar-item-hover-color);
  background-color: var(--sidebar-item-hover-background-color);
  border-top-color: var(--sidebar-item-hover-border-top-color);
  border-bottom-color: var(--sidebar-item-hover-border-bottom-color);
}

.itemSelected {
  color: var(--sidebar-item-selected-color);
  background-color: var(--sidebar-item-selected-background-color);
  border-top-color: var(--sidebar-item-selected-border-top-color);
  border-bottom-color: var(--sidebar-item-selected-border-bottom-color);
}

.link,
.text {
  display: block;
  padding: var(--sidebar-text-link-padding);
  margin: var(--sidebar-text-link-margin);
  color: var(--sidebar-text-link-color);
}

.item > .link,
.item > .text {
  padding-top: var(--sidebar-item-text-link-padding-top);
  padding-bottom: var(--sidebar-item-text-link-padding-bottom);
}

.link:hover {
  text-decoration: none;
}

.options {
  background: var(--sidebar-options-background-color);
}

.option {
  list-style: none;
  color: var(--sidebar-option-color);
  font-size: var(--sidebar-option-font-size);
}

.collapsed {
  width: var(--sidebar-collapsed-width);

  & img {
    display: none;
  }

  & header {
    justify-content: center;
  }

  & header svg {
    color: var(--sidebar-collapsed-header-icon-color);
  }

  & .text span,
  & .link span {
    display: none;
  }

  & .text,
  & .link {
    text-align: center;
  }

  & .text svg,
  & .link svg {
    margin: var(--sidebar-collapsed-text-link-margin);
  }
}

.selectedEnvironment {
  padding-top: var(--sidebar-selected-environment-padding-top);
  padding-bottom: var(--sidebar-selected-environment-padding-bottom);

  text-align: center;
}

.info {
  & .title,
  & .toggle {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.title {
  margin: 0;
  font-size: 18px;
  line-height: 3.17;
  color: var(--color-white);
}

.toggle {
  font-size: 18px;
  text-transform: lowercase;
  color: var(--color-light-greenish-100);
  cursor: pointer;
  outline: none;
  user-select: none;

  & p {
    margin: 0;
  }
}

.infoOptions {
  border-bottom: 1px solid var(--color-light-steel-200);

  & ul {
    margin: 0;
    padding: 0;
    margin-top: 24px;
  }

  & li {
    padding: 15px;
    list-style: none;
    border-top: 1px solid var(--color-light-greenish-20);
  }

  & p {
    margin: 0;
    font-size: 12px;
    color: var(--color-white);
    text-transform: uppercase;
  }

  & p:last-child {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
  }

  & small {
    font-size: 16px;
  }
}

.showInfos {
  background-color: var(--color-light-carbon-100);
}
